<div class="product-info" *ngIf="productInfo">
  <div class="product-name">
    {{productInfo.name}}, {{userSelectedImage}}
  </div>
  <div class="product-desc">
    {{productInfo.desc}}
  </div>
  <div class="product-desc bullet-point" *ngFor="let bulletPoint of productInfo.descList">
    &#8226; {{bulletPoint}}
  </div>
  <h2>
    {{productInfo.price | currency }}
  </h2>
  <input class="quantity-input" type="number" value="1" min="1" max="50"/>
  <div>
      <input type="image" src="../../../assets/images/button-add-to-cart.png" (click)="addItemToCart()" />
  </div>
  <div *ngIf="addToCart" id="myModal" class="modal">
    <div class="modal-content">
      Item added to cart!
    </div>
  </div>

  <hr>

  <div *ngFor="let expanded of expand; let i = index">
    <span>
      <img *ngIf="!expanded" src="../../assets/images/arrow-collapsed.png" (click)="expandSection(i)">
      <img *ngIf="expanded" src="../../assets/images/arrow-expanded.png" (click)="expandSection(i)">
      <label *ngIf="expanded">EXPANDED</label>
      <label *ngIf="!expanded">COLLAPSED</label>
    </span>
    <div class="expand-section" [ngClass]="{'expanded': expanded}">
      <section>
        <p class="product-desc">This section is extended. This section can be collapsed by clicking on the "Expanded" text.
          This section is extended. This section can be collapsed by clicking on the "Expanded" text.</p>
      </section>
    </div>
    <hr>
  </div>

</div>
